$theme-app: (
  disabledColor: pink,
  primaryColor: orange,
  painColor: purple,
  copyBtnColor: rgba(197, 147, 10, 0.5),
  walletCardColor: linear-gradient(180deg, orange 0%, rgba(197, 147, 10, 0.5) 67.19%, rgba(0, 163, 255, 0) 100%)
);