$theme-offcial: (
  disabledColor: #8CD6FF,
  primaryColor: #00A3FF,
  primaryColorHalfOpacity: rgba(0, 163, 255, 0.1),
  painColor: #E5F6FF,
  copyBtnColor: #c7ebff,
  walletCardColor: linear-gradient(180deg, #00a3ff 0%, rgba(0, 163, 255, .5) 67.19%, rgba(0, 163, 255, 0) 100%)
);