$disabledColor: #8CD6FF;
$primaryColor: #00A3FF;
$painColor: #E5F6FF;
$errorColor: #F74D3B;
$sucessColor: #29CC60;
$warnColor: #FFC800;
$borderColor: #D4D5DA;

$font-color-1:#31353C;
$font-color-2: #8F9295;
$font-color-3: #64676D;

$border-split-color-1: #EEE;
$bg-light-color-1: #F0F3F5;
