$disabledColor: #8CD6FF;
$primaryColor: #00A3FF;
$painColor: #E5F6FF;
$errorColor: #F74D3B;
$sucessColor: #29CC60;
$warnColor: #FFC800;
$borderColor: #D4D5DA;
$black: #000;
$white: #ffffff;
$copyBtnColor: #c7ebff;
$midColorPlaceholder: #B8BABE;

$font-color-1:#31353C;
$font-color-2: #8F9295;
$font-color-3: #64676D;
$font-color-4: #333333;


$border-split-color-1: #EEE;
$bg-light-color-1: #F0F3F5;
$bg-light-color-2: #D4D5DA; //中性色

